/* .skill-container:hover .icon-wrapper {
  transition: transform .3s;
  transform: rotateY(-360deg);
}

.skill-container>.icon-wrapper {
  transition: transform .3s;
}

.skill-container:not(:hover)>.icon-wrapper {
  transform: rotateY(0deg);
} */